save-exact=true
ignore-dep-scripts=true
minimum-release-age=10080
minimum-release-age-exclude[]='@biomejs/*'
trust-policy=accept
block-exotic-subdeps=true
verify-store-integrity=true
strict-store-pkg-content-check=true
